[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = d868038d-cd1a-4bf9-af90-e11ca153ed83
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 65:24
      size = 1855, 1056
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 728
      ratio = 0.692234848485
      type = VPaned
    [[[child3]]]
      order = 1
      parent = child1
      position = 924
      ratio = 0.499730458221
      type = HPaned
    [[[terminal2]]]
      order = 0
      parent = child1
      profile = default
      type = Terminal
      uuid = d868038d-cd1a-4bf9-af90-e11ca153ed83
    [[[terminal4]]]
      order = 0
      parent = child3
      profile = default
      type = Terminal
      uuid = 6d30b12e-94be-491f-a9ee-ba044962c450
    [[[terminal5]]]
      order = 1
      parent = child3
      profile = default
      type = Terminal
      uuid = e7986928-d04c-4141-8900-ed791bb2c68c
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.9
    background_image = None
    background_type = transparent
    scrollback_infinite = True
