[global_config]
  always_split_with_profile = True
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = True
      last_active_term = d868038d-cd1a-4bf9-af90-e11ca153ed83
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:0
      size = 1920, 1080
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 766
      ratio = 0.709259259259
      type = VPaned
    [[[child3]]]
      order = 1
      parent = child1
      position = 960
      ratio = 0.5
      type = HPaned
    [[[terminal2]]]
      order = 0
      parent = child1
      profile = solarized_dark
      type = Terminal
      uuid = d868038d-cd1a-4bf9-af90-e11ca153ed83
    [[[terminal4]]]
      order = 0
      parent = child3
      profile = solarized_dark
      type = Terminal
      uuid = 3454b463-c934-4dea-bc76-54c30327e3b0
    [[[terminal5]]]
      order = 1
      parent = child3
      profile = solarized_dark
      type = Terminal
      uuid = 4c6e4f15-dd0f-4dac-8f5d-3fcd51804cc1
[plugins]
[profiles]
  [[default]]
    background_color = "#001e27"
    background_darkness = 0.9
    background_type = transparent
    cursor_color = "#708284"
    foreground_color = "#708284"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_infinite = True
