- name: Install nginx web server
  ansible.builtin.apt:
    pkg: nginx
  become: true

- name: Install certbot SSL certificate tools
  ansible.builtin.apt:
    pkg: certbot,python3-certbot-nginx
  become: true

- name: Install cron task scheduler
  ansible.builtin.apt:
    pkg: cron
  become: true
