- name: Install golang dependencies
  ansible.builtin.apt:
    name:
      - curl
      - ca-certificates
  become: true

- name: Download and extract golang
  ansible.builtin.unarchive:
    src: "https://golang.org/dl/go1.16.3.linux-{% if ansible_architecture == 'aarch64' %}arm64{% else %}amd64{% endif %}.tar.gz"
    dest: /usr/local
    creates: /usr/local/go
    owner: root
    remote_src: true
  become: true

- name: Create golang workspace directory
  ansible.builtin.file:
    path: $HOME/go
    state: directory
    mode: '0755'

- name: Configure golang environment variables
  ansible.builtin.blockinfile:
    create: true
    path: ~/.profile
    mode: '0644'
    block: |
      export GOPATH=$HOME/go
      export PATH=$PATH:/usr/local/go/bin:$GOPATH/bin
