- name: Install lein clojure build tool
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein
    dest: /usr/local/bin/lein
    mode: '0755'
  become: true

- name: Install default-jdk Java development kit
  ansible.builtin.apt:
    name: default-jdk
  become: true

- name: Install vim-fireplace vim plugin
  ansible.builtin.git:
    repo: https://github.com/tpope/vim-fireplace.git
    dest: ~/.vim/bundle/vim-fireplace
