- name: Download nodejs installer script
  ansible.builtin.get_url:
    url: https://deb.nodesource.com/setup_lts.x
    dest: ~/Installs/nodejs-installer
    mode: '0755'

- name: Configure nodejs apt repository
  ansible.builtin.command: /bin/bash /tmp/Installs/nodejs-installer
  become: true
  changed_when: true

- name: Install nodejs runtime
  ansible.builtin.apt:
    name: nodejs
    state: latest
  become: true

- name: Install electron-packager build tool
  community.general.npm:
    name: electron-packager
    version: 14.0.4
    global: true
  become: true

- name: Install vim-javascript vim plugin
  ansible.builtin.git:
    repo: https://github.com/pangloss/vim-javascript.git
    dest: ~/.vim/bundle/vim-javascript
