- name: Add jellyfin GPG key
  ansible.builtin.apt_key:
    url: https://repo.jellyfin.org/jellyfin_team.gpg.key
    keyring: /etc/apt/trusted.gpg.d/jellyfin.gpg
  become: true

- name: Add jellyfin apt repository
  ansible.builtin.apt_repository:
    repo: 'deb https://repo.jellyfin.org/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} main'
    state: present
  become: true

- name: Install libjemalloc2 dependency
  ansible.builtin.apt:
    name: libjemalloc2
    state: present
    update_cache: true
  become: true

- name: Update ldconfig cache
  ansible.builtin.command: ldconfig
  become: true
  changed_when: false

- name: Install jellyfin media server
  ansible.builtin.apt:
    name: jellyfin
    update_cache: true
  become: true

- name: Install libimage-exiftool-perl metadata tool
  ansible.builtin.apt:
    pkg: libimage-exiftool-perl
  become: true

- name: Install vlc media player
  ansible.builtin.apt:
    pkg: vlc
  become: true

- name: Add spotify GPG key
  ansible.builtin.apt_key:
    url: https://download.spotify.com/debian/pubkey_C85668DF69375001.gpg
  become: true

- name: Add spotify apt repository
  ansible.builtin.apt_repository:
    repo: "deb http://repository.spotify.com stable non-free"
  become: true

- name: Install spotify-client music player
  ansible.builtin.apt:
    pkg: spotify-client
    update_cache: true
  failed_when: false
  become: true

- name: Install gimp photo editor
  ansible.builtin.apt:
    pkg: gimp
  become: true

- name: Install handbrake video transcoder
  ansible.builtin.apt:
    pkg: handbrake
  become: true

- name: Download openaudible installer
  ansible.builtin.get_url:
    url: https://github.com/openaudible/openaudible/releases/download/v3.5.3/OpenAudible_3.5.3_x86_64.deb
    dest: ~/Installs/OpenAudible_x86_64.deb
    mode: '0644'

- name: Install openaudible audiobook manager
  ansible.builtin.apt:
    deb: /tmp/Installs/OpenAudible_x86_64.deb
  become: true

- name: Install cheese webcam application
  ansible.builtin.apt:
    pkg: cheese
  become: true

- name: Install motion webcam capture program
  ansible.builtin.apt:
    pkg: motion
  become: true

- name: Install mkvtoolnix video tools
  ansible.builtin.apt:
    pkg: mkvtoolnix,mkvtoolnix-gui
  become: true
