- name: Install vim text editor
  ansible.builtin.apt:
    name:
      - vim
      - vim-nox
      - vim-addon-manager
  become: true

- name: Install vim plugin packages
  ansible.builtin.apt:
    name: vim-{{ item }}
  with_items: "{{ vim_plugin_package }}"
  become: true

- name: Configure vim addon manager plugins
  ansible.builtin.command: vam install {{ item }}
  with_items: "{{ vim_plugin_package }}"
  changed_when: true

- name: Create vim directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  with_items:
    - ~/.vim/autoload
    - ~/.vim/bundle
    - ~/.vim/ftplugin

- name: Configure kotlin vim filetype settings
  ansible.builtin.copy:
    dest: ~/.vim/ftplugin/kotlin.vim
    mode: '0644'
    content: |
      setlocal  tabstop=4
      setlocal  shiftwidth=4

- name: Install vim-fern file explorer
  ansible.builtin.git:
    repo: https://github.com/lambdalisue/vim-fern.git
    dest: ~/.vim/bundle/vim-fern
    force: true

- name: Install vim-fern-git-status plugin
  ansible.builtin.git:
    repo: https://github.com/lambdalisue/vim-fern-git-status.git
    dest: ~/.vim/bundle/vim-fern-git-status
    force: true

- name: Install vim-fern-hijack plugin
  ansible.builtin.git:
    repo: https://github.com/lambdalisue/vim-fern-hijack.git
    dest: ~/.vim/bundle/vim-fern-hijack
    force: true

- name: Install fzf fuzzy finder
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    dest: ~/.vim/bundle/fzf
    force: true

- name: Install vim-better-whitespace plugin
  ansible.builtin.git:
    repo: https://github.com/ntpeters/vim-better-whitespace.git
    dest: ~/.vim/bundle/vim-better-whitespace
    force: true

- name: Install vim-gitgutter plugin
  ansible.builtin.git:
    repo: https://github.com/airblade/vim-gitgutter.git
    dest: ~/.vim/bundle/vim-gitgutter
    force: true

- name: Install vim-markdown plugin
  ansible.builtin.git:
    repo: https://github.com/plasticboy/vim-markdown.git
    dest: ~/.vim/bundle/vim-markdown
    force: true

- name: Install vim-raml plugin
  ansible.builtin.git:
    repo: https://github.com/IN3D/vim-raml.git
    dest: ~/.vim/bundle/vim-raml
    force: true

- name: Install plantuml-syntax vim plugin
  ansible.builtin.git:
    repo: https://github.com/aklt/plantuml-syntax.git
    dest: ~/.vim/bundle/plantuml-syntax
    force: true

- name: Install vim-gradle plugin
  ansible.builtin.git:
    repo: https://github.com/tfnico/vim-gradle.git
    dest: ~/.vim/bundle/vim-gradle
    force: true

- name: Install python-mode vim plugin
  ansible.builtin.git:
    repo: https://github.com/python-mode/python-mode.git
    dest: ~/.vim/bundle/python-mode
    force: true

- name: Install kotlin-vim plugin
  ansible.builtin.git:
    repo: https://github.com/udalov/kotlin-vim.git
    dest: ~/.vim/bundle/kotlin-vim
    force: true

- name: Install copilot vim plugin
  ansible.builtin.git:
    repo: https://github.com/github/copilot.vim.git
    dest: ~/.vim/bundle/copilot
    force: true

- name: Install vader vim testing plugin
  ansible.builtin.git:
    repo: https://github.com/junegunn/vader.vim.git
    dest: ~/.vim/bundle/vader
    force: true

- name: Configure vim settings
  ansible.builtin.blockinfile:
    create: true
    path: ~/.vimrc
    marker: "\" {mark} ANSIBLE MANAGED BLOCK"
    mode: "0644"
    block: |
      execute pathogen#infect()
      syntax on
      filetype plugin indent on
      :set tabstop=2
      :set shiftwidth=2
      :set backspace=indent,eol,start
      :set expandtab
      :set nobackup
      :set noswapfile
      let $FZF_DEFAULT_COMMAND = 'find . -type f -not -path "*/\.git/*" -not -path "*/__pycache__/*" -not -path "*/.mypy_cache/*"'
      nmap <C-P> :FZF<CR>
      autocmd BufEnter * EnableStripWhitespaceOnSave
      autocmd FileType Markdown setlocal spell spelllang=en_au
      set encoding=utf-8
      let mapleader = ","

- name: Configure vim as git editor
  community.general.git_config:
    name: core.editor
    scope: global
    value: vim
