- name: Install rbenv ruby version manager
  ansible.builtin.apt:
    pkg: rbenv,ruby-build
  become: true

- name: Configure rbenv shell integration
  ansible.builtin.lineinfile:
    dest: ~/.bashrc
    line: 'eval "$(rbenv init -)"'

- name: Install vim-ruby vim plugin
  ansible.builtin.git:
    repo: https://github.com/vim-ruby/vim-ruby.git
    dest: ~/.vim/bundle/vim-ruby
